/* src/components/Hero.css */
.hero-section {
  background: url("https://images.unsplash.com/photo-1592194996308-7b43878e84a6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1600")
    no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 80px 0;
}
